:root{
    --card-size: 10em;
    --gutter-size:1em;
}

body{
   display:flex;
    justify-content: center;
}

.grid{
    align-items: center;
    justify-items: center;
    height: calc(var(--card-size)*3 + var(--gutter-size)*2);
    width: calc(var(--card-size)*4 + var(--gutter-size)*3);
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.card{
    height: var(--card-size);
    width: var(--card-size);
    background-image:url(./images/back.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
}

.alien {
    background-image: url('./images/alien.png');
}

.bug {
    background-image: url('./images/bug.png');
}

.duck {
    background-image: url('./images/duck.png');
}

.rocket {
    background-image: url('./images/rocket.png');
}

.spaceship {
    background-image: url('./images/spaceship.png');
}

.tictac {
    background-image: url('./images/tiktac.png');
}